<div class="container spacer">

    <div class="card card-default">

        <div class="card-header">saisie d'une réservation</div>
        <div class="card-body">
            
            <form #f="ngForm" (ngSubmit)="onSaveContact(f.value)">
                
                <div class="form-group">
                    <label class="control-label">dateReservation:</label>
                    <input class="form-control"  type="date" ngModel name="dateReservation">
                </div>
        
                <div class="form-group">
                    <label class="control-label">busId:</label>
                   <input class="form-control"type="text" ngModel name="busId">
               </div>
               <div class="form-group">
                <label class="control-label">clientId:</label>
               <input class="form-control" type="text" ngModel name="clientId">
            </div>
        
            <button [disabled]="!f.valid" type="submit" class="btn btn-primary">save</button>
        
            </form>
    </div>

   

</div>